@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

/* Navbar */
header {
  background-color: #fff;
  padding: 0px 40px;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 10px rgb(91, 91, 91);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#div-items > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

#div-img img {
  margin: 10px;
  height: 65px;
  aspect-ratio: auto;
}

#div-items > ul > li > a {
  text-decoration: none;
  color: rgb(72, 72, 72);
}

#div-items > ul > li > a:hover {
  color: rgb(63, 63, 168);
}

#div-items > ul > li > a:active {
  color: rgb(0, 0, 113);
}

.dropdown > div {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 220px;
  top: 35px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(85, 85, 85);
  border-radius: 3px;
}

.sub-menu div {
  width: 100%;
  padding: 12px 0px 12px 20px;
}

.sub-menu a {
  text-decoration: none;
  color: rgb(72, 72, 72);
}

.sub-menu div:hover {
  background-color: rgb(235, 235, 235);
  color: rgb(43, 43, 193);
}

.sub-menu li {
  width: 100%;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  padding: 10px 0;
  width: 100%;
}

.dropdown.branch > div {
  right: 225px;
}

.dropdown.about > div {
  right: 30px;
}

.dropdown > div ul {
  display: flex;
  justify-content: start;
  align-items: start;
}

.dropdown:hover > div {
  display: block;
}

#menu-icon {
  display: none;
}

header hr {
  display: none;
}
/* Navbar media queries */
@media screen and (max-width: 751px) {
  #menu-icon {
    display: block;
    width: 40px;
    aspect-ratio: auto;
    cursor: pointer;
  }

  #nav-list {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
    padding: 10px 25px;
    gap: 0px;
    height: 440px;
  }

  #nav-list a {
    color: #fff;
    font-size: 1.2rem;
  }

  #nav-list hr {
    display: block;
    margin: 12px 0px;
    width: 100%;
  }

  #div-items {
    flex-direction: row;
  }

  .dropdown > div {
    display: flex;
    position: static;
    background-color: #fff;
    width: 100%;
    top: 35px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 0px;
    border-radius: 3px;
  }
  .sub-menu div {
    width: 100%;
    padding: 0px;
    margin: 5px 0px;
    text-align: center;
  }

  .sub-menu > li > a > div {
    text-decoration: none;
    color: rgb(72, 72, 72);
  }

  .sub-menu div:active {
    background-color: #fff;
    color: rgb(0, 0, 113);
  }

  .sub-menu li {
    width: 100%;
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    padding: 0;
    width: 100%;
    margin: 10px 0px 0px 0px;
  }

  .dropdown > a + div {
    margin: 0;
  }

  #div-items > ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
  }

  #div-items > ul > li > a {
    text-decoration: none;
    color: rgb(144, 144, 144);
  }

  #div-img img {
    margin: 10px;
    height: 45px;
    aspect-ratio: auto;
  }
}

@media screen and (max-width: 431px) {
  #nav-list {
    position: absolute;
    top: 25px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
    padding: 10px 25px;
    gap: 0px;
    height: 440px;
  }

  #div-img img {
    margin: 10px;
    height: 30px;
    aspect-ratio: auto;
  }

  #menu-icon {
    display: block;
    width: 25px;
    aspect-ratio: auto;
    cursor: pointer;
  }
}

/* Navbar media queries end */
/* Navbar end */
/* Main */
main {
  background-color: #f0f0f0;
  margin: 0px;
  padding: 20px 30px;
}

main h1 {
  font-size: 3rem;
}

.div-contain-fig-pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-contain-fig-pos h2 {
  font-size: 1.35rem;
  font-weight: 400;
}

.div-contain-fig-pos h2 span {
  font-size: 1.4rem;
  font-weight: 600;
}

.div-contain-fig-pos figcaption {
  text-align: center;
  font-size: 14px;
}

.div-contain-fig-pos p {
  font-size: 18.5px;
  font-weight: 350;
}

main figure img {
  width: 280px;
  aspect-ratio: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

main hr {
  height: 3px;
  background-color: gray;
  border-radius: 3px;
}
/* Main media queries */
@media screen and (max-width: 951px) {
  main h1 {
    font-size: 2.5rem;
  }

  .div-contain-fig-pos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main figure img {
    width: 240px;
    aspect-ratio: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
  }
}

@media screen and (max-width: 601px) {
  main h1 {
    font-size: 2rem;
  }

  .div-contain-fig-pos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main figure img {
    width: 170px;
    aspect-ratio: auto;
    border-radius: 7px;
    box-shadow: 0px 0px 10px black;
  }

  .div-contain-fig-pos h2 {
    font-size: 1.15rem;
    font-weight: 400;
  }

  .div-contain-fig-pos h2 span {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .div-contain-fig-pos figcaption {
    text-align: center;
    font-size: 12px;
  }

  .div-contain-fig-pos p {
    font-size: 15px;
    font-weight: 350;
  }
}

@media screen and (max-width: 431px) {
  main h1 {
    font-size: 1.7rem;
  }

  .div-contain-fig-pos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main figure img {
    width: 140px;
    aspect-ratio: auto;
    border-radius: 6px;
    box-shadow: 0px 0px 10px black;
  }

  .div-contain-fig-pos h2 {
    font-size: 1rem;
    font-weight: 400;
  }

  .div-contain-fig-pos h2 span {
    font-size: 1.05rem;
    font-weight: 600;
  }

  .div-contain-fig-pos figcaption {
    text-align: center;
    font-size: 10px;
  }

  .div-contain-fig-pos p {
    font-size: 14px;
    font-weight: 350;
  }
}
/* Main media queries end */
/* Main end */
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 15px 25px 0px 25px;
  background-color: rgb(206, 206, 206);
}

#foot-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

#first-col-foot {
  display: flex;
  justify-content: center;
  align-items: center;
}

#first-col-foot > div {
  line-height: 1.3;
}

#first-col-foot i {
  font-size: 2.5rem;
  margin: 20px;
  color: #3d3d3d;
}

#second-col-foot {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  border: 1px groove black;
  border-radius: 180px;
}

#second-col-foot img {
  width: 170px;
  aspect-ratio: auto;
}

#third-col-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#third-col-foot h2 {
  font-size: 23px;
  font-weight: 500;
  margin: 20px 0px;
}

#third-col-foot > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#third-col-foot a {
  color: #616161;
  padding: 20px;
  font-size: 1.9rem;
  width: 70px;
  height: 70px;
  border-radius: 90px;
  transition: all 0.15s ease-out;
}

#third-col-foot a:hover {
  color: #fff;
  background-color: #616161;
}

#third-col-foot a:active {
  color: #fff;
  background-color: #383838;
}

#copyright-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid black;
}
/* Footer media queries */
@media screen and (max-width: 1001px) {
  #foot-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 751px) {
  #second-col-foot {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border: 1px groove black;
    border-radius: 120px;
  }

  #second-col-foot img {
    width: 110px;
    aspect-ratio: auto;
  }
}

@media screen and (max-width: 431px) {
  #foot-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  }

  #second-col-foot {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px groove black;
    border-radius: 120px;
  }

  #second-col-foot img {
    width: 90px;
    aspect-ratio: auto;
  }

  #first-col-foot > div {
    line-height: 1.2;
  }

  #first-col-foot i {
    font-size: 1.7rem;
    margin: 18px;
    color: #3d3d3d;
  }

  #first-col-foot h2 {
    font-size: 15px;
  }

  #first-col-foot p {
    font-size: 12px;
  }

  #third-col-foot h2 {
    font-size: 19px;
    font-weight: 500;
    margin: 20px 0px;
  }

  #third-col-foot a {
    color: #616161;
    padding: 20px;
    font-size: 1.6rem;
    width: 45px;
    height: 45px;
    border-radius: 45spx;
    transition: all 0.15s ease-out;
  }
}
/* Footer media queries end */
/* Footer end */
